/* Reset some default styles */
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Trebuchet", sans-serif;
  background-color: rgba(203, 184, 18, 0.984);
}

/* Additional global styles can go here */
